services:
  backend:
    build: 
      context: ./api
    container_name: backend
    expose:
      - "8022"
    ports:
      - "8022:8022"
    command: fastapi run main.py --port 8022

  frontend:
    build: 
      context: ./svelte
    container_name: frontend
    ports:
      - "4000:4000"
    environment:
      - API_URL=${API_URL}
      - PORT=4000
    command: node build